USE [master]
GO
/****** Object:  Database [DataBaseFirstDemo]    Script Date: 12/8/2018 7:55:10 PM ******/
CREATE DATABASE [DataBaseFirstDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBaseFirstDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DataBaseFirstDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBaseFirstDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DataBaseFirstDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBaseFirstDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBaseFirstDemo]
GO
USE [DataBaseFirstDemo]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/8/2018 7:55:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Programe] [varchar](50) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Student] ([StudentId], [Name], [Programe], [Date]) VALUES (1, N'Nisar Ahmed', N'BS(CS)', CAST(N'2018-12-08T19:01:00' AS SmallDateTime))
USE [master]
GO
